# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "test"
  test:
    name: "Python ${{ matrix.python-version }}"
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    env:
      USING_COVERAGE: '3.6,3.8'
    
    strategy:
      matrix:
        python-version: ["3.6", "3.7", "3.8"]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
      with:
        python-version: "${{ matrix.python-version }}"
    
    - name: "Install dependencies"
      run: |
        apt install -y gcc
        python -m pip install --upgrade pip
        pip install -r requirements-dev.txt

    # Runs a single command using the runners shell
    - name: "Lint with flake8"
      run: flake8 . --exclude=build --ignore=E402

    # Runs a set of commands using the runners shell
    - name: Test with pytest 
      run: pytest tests -v
